/* content */

.room-photo {
    width: 100%;
    height: 100%;
    max-width: 523px;
    max-height: 316px;
}

.education {
    width: 100%;
    max-width: 634px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
em {
    color: rgba(207, 85, 16, 1);
}