/* students */

.students-photo{
    width: 200px; 
    height: 270px;
}

.student-name{
    display: block;
    text-align: center;
}

.students{
    max-width: 1202px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.student{
    padding-left: 50px;
}

@media(max-width: 1260px) {
    .students{
        flex-wrap: wrap;
    }
}